# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
build/
dist/
*.egg-info/

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
